* {
	padding: 0;
	margin: 0;
}
.form {
	margin: 5% auto;
	width: 80%;
	height: 50%;
	border: 5px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	padding: 2%;
}

tr {
	height: 30pt;
}

.btn{
	margin:0 0 1% 2%;
	float: right;
}

a, a:hover, a:active, a:visited {
	color: inherit;
	text-decoration: none;
}


div#total {
    margin-top: 1%;
    float: left;
}