<!DOCTYPE html>
<html>
<head>
	<title>table</title>
	
	<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/purchase.css" %}">
    <script src="{% static "js/purchase.js" %}"></script>
	

</head>
<body>
	<div class="form">
		<h3></h3>
		<div id="total"></div>
		<button type="button" id="submit" class="btn btn-outline-secondary"><a href="#">Submit</a></button>
		<button type="button" id="add" class="btn btn-outline-secondary">Add</button>
		<table class="table table-bordered" id="table-items" data-order-id="-1">
			<thead>
			  <tr>
			    <th>Item ID</th>
			    <th>Item Name</th>
			    <th>Price</th>
			    <th>Amount</th>
			    <th>Total</th>
			  </tr>
			</thead>
			<tbody>
			  <tr id="items-placeholder">
			    <td></td>
			    <td></td>
			    <td></td>
			    <td></td>
			    <td></td>
			  </tr>
			</tbody>
		</table>
		
	</div>
</body>
</html>